{
    "therapist_name" : {
        "profile" : "link to therapist profile",
        "gender" : "therapist gender",
        "title" : "therapist title",
        "status" : {
            "available" : true,
            "reason" : ""
        },
        "languages" : [
            "English",
            "Mandarin"
        ],
        "target" : {
            "individual" : true,
            "couple" : false,
            "adult" : true,
            "child" : false,
            "teen" : false,
            "assessment" : false
        },
        "specialisations" : [
            "Anxiety",
            "Attachment wounds",
            "Self-Esteem Issues"
        ],
        "f2f_availability" : {
            "mon" : ["0800", "1800"],
            "tues" : ["0800", "1800"],
            "wed" : ["0800", "1800"],
            "thurs" : ["0800", "1800"],
            "fri" : ["0800", "1800"],
            "sat" : ["0900", "1600"],
            "sun" : null
        },
        "after_hours_surcharge" : {
            "mon" : 0.2,
            "tues" : 0.2,
            "wed" : 0.2,
            "thurs" : 0.2,
            "fri" : 0.2,
            "sat" : 0.2,
            "sun" : null
        },
        "rates" : {
            "individual" : {
                "50 min" : 160,
                "80 min" : 180
            },
            "couple" : {
                "50 min" : 300,
                "80 min" : 340
            },
            "student" : {
                "50 min" : null,
                "80 min" : null
            }
        }
    }
}