{
    "David Smith" : {
        "title" : "Counsellor-In-Training",
        "profile" : "https://psychologyblossom.com/member/.../",
        "gender" : "male",
        "status" : {
            "available" : true,
            "reason" : null
        },
        "languages" : [
            "English",
            "Mandarin"
        ],
        "target_patient_age_group" : {
            "adults" : true,
            "children and teens" : false
        },
        "specialisations" : [
            "Anxiety",
            "Depression",
            "Stress Management",
            "Relationship Challenges",
            "Attachment Issues",
            "Personal Growth"
        ],
        "availability" : {
            "mon" : ["1800", "2000"],
            "tues" : ["0800", "1800"],
            "wed" : ["0800", "1800"],
            "thurs" : null,
            "fri" : null,
            "sat" : null,
            "sun" : null
        },
        "rates" : {
            "individual" : {
                "50 min" : 50,
                "80 min" : 75
            },
            "couples" : {
                "50 min" : null,
                "80 min" : null
            },
            "family" : {
                "80 min" : null
            },
            "student" : {
                "50 min" : null,
                "80 min" : null
            }
        },
        "special_remarks" : "Only online sessions on Monday"
    }
}